@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;900&family=Ubuntu+Mono:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2 {
  color: #17594a;
}
body {
  font-family: "Ubuntu Mono", monospace;

  background-image: radial-gradient(circle, #f6ffde, #e3f2c1, #c9dbb2, #aac8a7);
}
